<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http auto-config="true" create-session="ifRequired" use-expressions="false">


		<security:intercept-url pattern="/editComputer/**"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/addComputer/**"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/deleteComputer/**"
			access="ROLE_ADMIN" />
		<security:intercept-url pattern="/index/**" method="POST"
access="ROLE_ADMIN" />
		
		<security:intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		

		<security:form-login login-page="/customLogin"
			login-processing-url="/j_spring_security_check" 
			username-parameter="username"
			password-parameter="password" 
			authentication-failure-url="/customLogin?auth=false" />
		
		<security:logout logout-success-url="/index" delete-cookies="JSESSIONID" />
		<security:csrf disabled="true" />
	</security:http>



	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="UserService">
		</security:authentication-provider>
	</security:authentication-manager>

	<!-- dataSource is in persistence module -->
	<import resource="classpath*:/datasource.xml" />


</beans>